---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=50252dba5181c81f776a0386add463a7&lat=22.7378479&lon=75.8882395
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1685944800,"main":{"temp":305.24,"feels_like":307.93,"temp_min":305.24,"temp_max":307.97,"pressure":1011,"sea_level":1011,"grnd_level":948,"humidity":51,"temp_kf":-2.73},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"clouds":{"all":40},"wind":{"speed":5.08,"deg":292,"gust":5.4},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2023-06-05
        06:00:00"},{"dt":1685955600,"main":{"temp":307.27,"feels_like":309.05,"temp_min":307.27,"temp_max":311.33,"pressure":1009,"sea_level":1009,"grnd_level":946,"humidity":41,"temp_kf":-4.06},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"clouds":{"all":27},"wind":{"speed":4.91,"deg":291,"gust":4.94},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2023-06-05
        09:00:00"},{"dt":1685966400,"main":{"temp":309.47,"feels_like"[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=50252dba5181c81f776a0386add463a7&lat=22.7378479&lon=75.8882395
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":75.8882,"lat":22.7378},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"base":"stations","main":{"temp":305.24,"feels_like":307.93,"temp_min":305.24,"temp_max":305.24,"pressure":1011,"humidity":51},"visibility":7000,"wind":{"speed":4.63,"deg":290},"clouds":{"all":40},"dt":1685944240,"sys":{"type":1,"id":9067,"country":"IN","sunrise":1685923864,"sunset":1685972335},"timezone":19800,"id":1269743,"name":"Indore","cod":200}'
  recorded_at: Mon, 05 Jun 2023 05:50:40 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/direct?appid=50252dba5181c81f776a0386add463a7&q=Invalid%20City
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 05 Jun 2023 05:50:41 GMT
recorded_with: VCR 6.1.0
